.main-header {
  --main-color: var(--root-rgb-dark-blue);
  --dark-color: var(--root-rgb-indigo);
  --white: var(--root-rgb-white);

  position: fixed;
  top: 0;
  width: 100%;
  color: var(--root-white);

  background: linear-gradient(
    to bottom,
    rgba(var(--main-color), 0.8),
    rgba(var(--dark-color), 0.5)
  );
  backdrop-filter: blur(10px);
  filter: drop-shadow(0 0.5rem 0.4rem rgba(var(--main-color), 0.6));

  z-index: 2;

  a {
    text-decoration: none;
    color: var(--root-white);
    cursor: pointer;
  }
}

.main-header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  overflow: hidden;
}

.main-header__nav-list {
  list-style: none;
  display: flex;
}

.main-header__nav-item {
  padding: 0.7rem 0;
}

.main-header__nav-item a {
  --main-color: var(--root-rgb-indigo);

  transition: 0.2s;
  padding: 0.7rem 1rem;

  &&:hover {
    background: rgba(var(--main-color), 0.9);
  }
}

.main-header__icon {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  img {
    height: 2rem;
    border-radius: 50%;
  }

  &:hover {
    text-decoration: underline;
  }
}
