@import url("https://fonts.googleapis.com/css?family=Poppins:light,regular,medium,semibold,bold");

* {
  margin: 0;
  padding: 0;
  text-align: center;

  font-family: "Poppins", sans-serif;
  line-height: 1.25rem;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  overflow: hidden;

  background-color: var(--root-white);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h2,
h3,
h4,
strong {
  font-weight: 600;
}

h2 {
  letter-spacing: 0.1rem;
}
h3 {
  letter-spacing: 0.05rem;
}
